<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="elitechcomps.com">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@drawable/orangelaptop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/orangelaptop"
        android:supportsRtl="true"
        >

        <activity

            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash">

            <!-- This is the FIRST/LAUNCHING ACTIVITY -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ElitechContentsActivity"

            android:theme="@style/AppTheme3" />

        <activity
            android:name=".ContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />

        <activity
            android:name=".AchievementsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />

        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />

        <activity
            android:name=".TrainingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />

        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />

    </application>

</manifest>